@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

h1{
  font-family: 'EB Garamond', serif;
  font-size: 100px;
  color: #004d40;
  grid-area: header;
  width: 20%;
  margin-top: 1%;
  position: absolute;
  left: 2%;
  line-height: 80px;
}


p{
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: black;
  line-height: 1.3;
}

div.cheungfun{
  display: table;
  position: absolute;
  bottom: 5%;
  width: 50%;
}

div.ingredients{
  text-align: left;
  display: table-cell;
  padding: 4%;
}

div.method{
  display: table-cell;
  text-align: left;
}



span.tips{
  font-family: 'EB Garamond', serif;
  font-size: 15px;
  font-style: italic;
  color: #1a237e;
}

span.sauce{
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 18px;
  color: #e040fb;
  line-height: 3;
}

span.sauceing{
  font-size: 15px;
  line-height: -3;
}

.somethingelse{
  font-family: 'Lusitana', serif;
  text-align: center;
  color: #0d47a1;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 1%;
  width: 100%;
  text-align: center;
  grid-area: footer;
}


img{
  max-width: 38%;
  height: auto;
  position: absolute;
  right: 1%;
  z-index: -1;

}


a:visited{
    color:#d50000;
}

@media screen and (max-width: 900px) {

div.cheungfun{
  margin-left: 4%;
}
  div.ingredients{
    display: table-row;
  }

  div.method{
    display: table-row;
  }

  h1{
    position: absolute;
    left: 70%;
    bottom: 1%;
    font-size: 60px;
    text-align: right;
  }
}
