@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

h1{
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  color: #004d40;

}


p{
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: black;
}
