@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

h1{
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  color: #004d40;

}


p{
  font-family: 'EB Garamond', serif;
  font-size: 15px;
  color: black;
  line-height: 0.8;
}
div.ingredients{
  margin-left: 20px;
}

div.method{
  margin-right: 20px;
}

.chocochip-chickpea-cookies{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
