@import url('https://fonts.googleapis.com/css?family=Lusitana&display=swap');

@font-face {
  src: url(fonts/Fahkwang-Regular.ttf);
  font-family: fah;
}

@font-face {
  src: url(fonts/Asset-Regular.ttf);
  font-family: asset;
}

h1{
  font-family: asset;
  font-size: 150px;
  color: #80d8ff;
  margin-top: -10px;
  text-align: center;
  position: absolute;
  left: 15%;
  z-index: 2;
}


img{
  position: absolute;
  top: 10%;
  left: 10%;

  max-width: 90%;
}


.somethingelse{
  font-family: 'Lusitana', serif;
  text-align: center;
  color: black;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  grid-area: footer;
}

a:visited{
    color:#d50000;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {


}
