@font-face {
  src: url(fonts/Molle-Italic.ttf);
  font-family: molle;
}


@font-face {
  src: url(fonts/Fahkwang-Regular.ttf);
  font-family: fah;
}

h1{
  font-family: molle;
  font-size: 280px;
  color: #ff6f00;
  grid-area: header;
  margin-top: -10px;
  text-align: center;
  position: absolute;
}


p{
  font-family: fah;
  color: black;
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
}
