@import url('https://fonts.googleapis.com/css?family=Lusitana&display=swap');

@font-face {
  src: url(fonts/Molle-Italic.ttf);
  font-family: molle;
}


@font-face {
  src: url(fonts/Fahkwang-Regular.ttf);
  font-family: fah;
}

h1{
  font-family: molle;
  font-size: 200px;
  color: #004d40;
  text-align: center;
  width: 100%;
  position: absolute;
  top: -18%;
}


p{
  font-family: fah;
  color: #ffd600;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 30%;
  z-index: -1;
}


.somethingelse{
  font-family: 'Lusitana', serif;
  text-align: center;
  color: black;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 1%;
  width: 100%;
  text-align: center;

}


a.somethingelse:visited{
  color: #d50000;
}


a.bread:link{
  color: #ffd600;
}

a.bread:visited{
  color: #ffd600;
}

a.bread:hover{
  color: #0d47a1;
  font-style:italic;
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    h1{
      font-size: 80px;
      margin-top: 10%;
      margin-left: 30%;

    }

}

@media screen and (max-width: 900px) {
  h1{
    font-size: 90px;
    top: 10%;
  }

}
