@import url('https://fonts.googleapis.com/css?family=Lusitana&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo|Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap');

@font-face {
  src: url(fonts/InjurialTrial-Regular.otf);
  font-family: Injurial;
}

@font-face {
  src: url(fonts/savate-regular.otf);
  font-family: savate;
}

div.options{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-content: center;
  align-items: center;
  height: 2%;
  float: none;
  margin-top: -4%;
}



div.eat{
  font-family: Injurial;
  font-size: 350px;
  order: 1;
  font-style: normal;
  text-decoration: none;

}

a.eat:link{
  color: black;

}

a.eat:visited{
  color: black;
}

a.eat:hover{
  color: #1b5e20;
  font-style: italic;
}


div.eat a img {
    display: none;
    position: absolute;
    max-width: 35%;
    top: 80px;
    left: 200px;
}
div.eat a {
    display: inline-block;
    position: relative;
}
div.eat a img {
    display: none;
}
div.eat a:hover img {
    display: inherit;

}



div.drink{
  font-family: Injurial;
  font-size: 350px;
  font-style: normal;
  order: 2;
  margin-top: -3%;
}

a.drink:link{
  color: black;
}

a.drink:visited{
  color: black;
}

a.drink:hover{
  color: Khaki;
  font-style: italic;
}

div.drink a img {
    display: none;
    position: absolute;
    max-width: 35%;
    top: 80px;
    left: 400px;
}
div.drink a {
    display: inline-block;
    position: relative;
}
div.drink a img {
    display: none;
}
div.drink a:hover img {
    display: inherit;

}




.submit {
  font-family: 'Lusitana', serif;
  text-align: center;
  color: #0d47a1;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;

}

a.submit:visited {
  color:#d50000;
}


h1{
  font-family: savate;
  color: #64dd17;
  font-size: 25px;
  top: -5px;
  z-index: 2;
  position: absolute;
}

a.homecooked:visited{
  color: black;
}
a.homecooked:hover{
  color: #64dd17;
  font-style: italic;
}



span.date{
  font-family: savate;
  font-style: normal;
  color: #64dd17;
  font-size: 20px;
  position: fixed;
  right: 20px;
}


.tooltip{
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-family: Injurial;
  font-size: 15px;
  width: 120px;
  background-color: white;
  color: #1a237e;
  text-align: left;
  border-radius: 6px;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 1;
  font-style: normal;

}

.tooltip:hover .tooltiptext{
  visibility: visible;
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

div.eat{
  font-size: 100px;
  margin-top: 200px
}

div.drink{
  font-size: 100px;
}

div.drink a img {
  
    left: 200px;
}

div.eat a img {

    left: 50px;
}

}
