@import url('https://fonts.googleapis.com/css?family=Lusitana&display=swap');

.zdog-canvas {
  cursor: move;
}

h1 {
  font-family: 'Lusitana', serif;
  color: #065900;
  font-size: 50px;
  position: relative;
  animation: whatsfordinner 3s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

span.date{
  margin-top: 1%;
  font-family: savate;
  font-style: normal;
  color: black;
  font-size: 20px;
  position: absolute;
  right: 20px;
}

@keyframes whatsfordinner {
  from {margin-top:-50%;
  height: 300%}
  to {margin-top: 0%;
  width: 100%}
}
