@import url('https://fonts.googleapis.com/css?family=Lusitana&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo|Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap');



h1 {
  font-family: 'IM Fell French Canon SC', serif;
  text-align: center;
  color: #004d40;
  font-size: 50px;
  position: relative;
  animation: 2s whatsfordinner;
  animation-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.eat{
  font-family: 'Lusitana', serif;
  text-align: center;
  color: #33691e;
  font-size: 500px;
  position: absolute;
  top:-20px;
  left: 10px;
  align-items: center;
  justify-content: center;

}

a.eat:hover{
  font-family: 'Lusitana', serif;
  text-align: center;
  color: #40c4ff;
  font-size: 500px;
  position: absolute;
  top:-20px;
  left:10px;
  font-style: italic;
  align-items: center;
  justify-content: center;
}

h4{
  font-family: 'Lusitana', serif;
  text-align: center;
  color: #33691e;
  font-size: 200px;
  position: absolute;
  top:20px;
  align-items: center;
  justify-content: center;
}

a.drink:hover{
  font-family: 'Lusitana', serif;
  text-align: center;
  color: #d500f9;
  font-size: 200px;
  position: absolute;
  top:20px;
  font-style: italic;
  align-items: center;
  justify-content: center;
}


div.submit{
  font-family: 'Lusitana', serif;
  text-align: center;
  color: #0d47a1;
  font-size: 20px;

}

.submit {
  position: fixed;
     left: 0;
     bottom: 10px;
     width: 100%;
     text-align: center;
}

a:visited {
  color:#d50000;
}


span.date{
  margin-top: 1%;
  font-family: savate;
  font-style: normal;
  color: black;
  font-size: 20px;
  position: absolute;
  right: 20px;
}

@keyframes whatsfordinner {
  from {margin-left: 100%;
  width: 200%}
  to {margin-right: 0%;
  width: 100%}
}
